<!DOCTYPE html>

<html ng-app='friends'>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <script src="angular/angular.js" charset="utf-8"></script>
    <script src="angular-route/angular-route.js" charset="utf-8"></script>
    <script src = 'angular-cookies/angular-cookies.js'></script>
    <script src="assets/app.js" charset="utf-8"></script>
    <script src="assets/factories/userFactory.js"></script>
    <script src="assets/controllers/indexController.js" charset="utf-8"></script>
    <script src="assets/controllers/registerController.js" charset="utf-8"></script>
      <script src="assets/controllers/loginController.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller='loginController'>
    <h3>Login</h3>
     <form ng-submit="loginUser()">
      <p><input type='text' ng-model="user.email" placeholder='Email'></p>
      <p><input type='text' ng-model="user.password" placeholder='Password'></p>
      <p><input type='submit' value='Login'></p>
     </form>
    </div>

    <div ng-controller = 'registerController'>
      <h3>Register</h3>
    	 <form ng-submit="registerUser()">
        {{errors.email.message}}
        <p><input type='text' ng-model="newUser.email" placeholder='email'></p>
        {{errors.first_name.message}}
        <p><input type='text' ng-model="newUser.first_name" placeholder='First Name'></p>
        {{errors.last_name.message}}
        <p><input type='text' ng-model="newUser.last_name" placeholder='Last Name'></p>
        {{errors.password.message}}
        <p><input type='text' ng-model="newUser.password" placeholder='Password'></p>
        <p><input type='text' placeholder='Confirm Password'></p>
        {{errors.birthday.message}}
        <p><input type='date' ng-model="newUser.birthday"> DOB</p>
        <p><input type='submit' value='Register'</p>
       </form>
     </div> 
     <div ng-view></div>
  </body>
</html>