<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A Form</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <form action="#" method="post">
            <p>
                One thing:
                <input type="text" name="thing" />
            </p>
            <p>
                Many things:
                <textarea name="stuff" rows="8" cols="40"></textarea>
            </p>
            <input type="submit" value="Submit!">
        </form>
    </body>
</html>
