<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    </script>
    <style type="text/css">
 
    </style>
</head>
<body>
<h3>Edit dog <%= id%></h3>

<form action="/<%= id%>" method="post">
	Name: <input type="text" name="name">
	Weight: <input type="text" name="weight">
	Color: <input type="text" name="color">
	<input type="submit" value="Add new dog!">

</form>
</body>
</html>