<html>
<head>
	
</head>
<body>
<h1>New</h1>
<form action="/" method="post">
	Name: <input type="text" name="name">
	Weight: <input type="text" name="weight">
	Color: <input type="text" name="color">
	<input type="submit" value="Add new dog!">

</form>

</body>
</html>