<body>
    <h2>Survey Answers:</h2>
    <table>
        <tr>
            <th>Name:</th>
            <td><%= name %></td>
        </tr>
        <tr>
            <th>Location:</th>
            <td><%= location %></td>
        </tr>
        <tr>
            <th>Language:</th>
            <td><%= language %></td>
        </tr>
        <tr>
            <th>Comment:</th>
            <td><%= comment %></td>
        </tr>
    </table>
    <p><a href="/">Go Back</a></p>
</body>
