<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
	<form action='/result' method='post'>
		<input name='name' type='text'>
		<select name='location'>
			<option value='Seattle'>Seattle</option>
			<option value='Washington'>Washington</option>
		</select>
		<select name='language'>
			<option value='Javascript'>Javascript</option>
			<option value='Python'>Python</option>
		</select>
		<textarea name='comment'></textarea>
		<input type='submit' value='submit'>
	</form>
</body>
</html>