<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
	<h2>Submitted information:</h2>
	<h4>Name: <%= student.name %></h4>
	<h4>Location: <%= student.location %></h4>
	<h4>Favorite Language: <%= student.language %></h4>
	<h4>Comment: <%= student.comment %></h4>
</body>
</html>