<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
<body>

	<div id="button_text"></div>
	<h3>Push the button to update The Count</h3>
	<button id="epic_button"></button>

</body>
</html>