<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuotingDojo</title>
    </head>
    <body>
        <h1>Welcome to QuotingDojo!</h1>
        <h3>Add New Quote</h3>
        <form action="/quotes" method="post">
            <h4>Your Name: <input type="text" name="author" /></h4>
            <h4>
                Your Quote:
                <textarea name="quote"></textarea>
            </h4>
            <input type="submit" value="Submit Quote" />
        </form>
        <h6><a href="/quotes">Skip to Quotes!</a></h6>
    </body>
</html>
